/* variables.css */

:root {
	--brand: hsl(220 76% 48% / 1);
	--brand-lighter: hsl(220 92% 56% / 1);
	--brand-lightest: hsl(220 100% 56% / 1);

	--accent-01: hsl(220 100% 36%);
	--accent-02: hsl(255 100% 36%);
	--accent-03: hsl(25 100% 36%);
	--accent-04: hsl(60 80% 48%);
	--accent-05: hsl(80 100% 36%);
	--accent-06: hsl(100 56% 48%);
	--accent-07: hsl(140, 56%, 52%);
	--accent-08: hsl(160, 56%, 48%);
	--accent-09: hsl(180 68% 48%);
	--accent-10: hsl(200 78% 56%);
	
	--accent-01-lighter: hsl(220 100% 48%);
	--accent-02-lighter: hsl(255 100% 48%);
	--accent-03-lighter: hsl(25 100% 48%);
	--accent-04-lighter: hsl(60 80% 56%);
	--accent-05-lighter: hsl(80 100% 48%);
	--accent-06-lighter: hsl(100 56% 56%);
	--accent-07-lighter: hsl(140, 56%, 64%);
	--accent-08-lighter: hsl(160, 56%, 56%);
	--accent-09-lighter: hsl(180 68% 56%);
	--accent-10-lighter: hsl(200 78% 68%);

	--white-10: hsl(220 0% 100% / 10%);
	--white-20: hsl(220 0% 100% / 20%);
	--white-30: hsl(220 0% 100% / 30%);
	--white-40: hsl(220 0% 100% / 40%);
	--white-50: hsl(220 0% 100% / 50%);
	--white-60: hsl(220 0% 100% / 60%);
	--white-70: hsl(220 0% 100% / 70%);
	--white-80: hsl(220 0% 100% / 80%);
	--white-90: hsl(220 0% 100% / 90%);
	--white: hsl(220 0% 100% / 1);

	--black-10: hsl(220 0% 0% / 10%);
	--black-20: hsl(220 0% 0% / 20%);
	--black-30: hsl(220 0% 0% / 30%);
	--black-40: hsl(220 0% 0% / 40%);
	--black-50: hsl(220 0% 0% / 50%);
	--black-60: hsl(220 0% 0% / 60%);
	--black-70: hsl(220 0% 0% / 70%);
	--black-80: hsl(220 0% 0% / 80%);
	--black-90: hsl(220 0% 0% / 90%);
	--black: hsl(220 0% 0% / 1);

	--bg-light: hsl(220 24% 92% / 1);
	--bg-lighter: hsl(220 24% 94.8% / 1);
	--bg-lightest: hsl(220 24% 97.2% / 1);

	--border-light: hsl(220 4% 84% / 1);
	--border-lighter: hsl(220 4% 88% / 1);
	--border-lightest: hsl(220 4% 92% / 1);

	--link: hsl(220 0% 12% / 1);
	--link-hover: hsl(220 100% 36% / 1);

	/* #333 */
	--text: hsl(220 0% 20% / 1);
	--text-light: hsl(220 4% 48% / 1);

	--header-height: 56px;
	--footer-height: 48px;

}